@import url(http://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

h1, h2 {
  font-family: 'Alegreya SC', serif;
  margin: 0;
  text-shadow: 0px 1px 3px #ccc;
}

h1::before {
  content: 'à¼„'
}

.content {
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 1em;

  a {
    color: #E88D3E;
  }

  pre {
    border: 1px solid black;
    padding: 0.4em 0.1em;
  }

  & > pre {
    border: 0px;
    padding: 0.4em 1em;
    margin: 0 -1em;
    background-color: #ddd;
  }

  h2 {
    margin-top: 1em;
  }

  .box {
    background-color: #efefef;
    padding: 1em;
  }
}
