#writing-intro-prolog a.next-cta {
  background-color: var(--hl);
}

#writing-intro-prolog .cursor {
    color: var(--accent); 
    font-weight: bold;
}

#writing-intro-prolog #g3 code::before {
  content: '\00a0\00a0';
  font-size: 1.3em;
  line-height: 0.7em;
}

#writing-intro-prolog #g3 .c1::before {
  content: '●\00a0';
  color: var(--accent);
}

#writing-intro-prolog #g3 .c2::before {
  content: '\00a0●';
  color: var(--accent2);
}

#writing-intro-prolog #g3 .c1.c2::before {
  content: '●●';

  background: -webkit-linear-gradient(left, var(--accent) 0%, var(--accent) 50%, var(--accent2) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#g1 svg, #g2 svg, #g3 svg, #g4 svg, #tree {
  background-color: #FFFCF0; /* light paper always */ 
}

#writing-intro-prolog .graph--h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#writing-intro-prolog .graph--v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#writing-intro-prolog .graph-code, #writing-intro-prolog .graph-code span.n {
    padding: 0px 5px;
    line-height: 1em;
    font-family: var(--mono);
}

#writing-intro-prolog .graph-code {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--bg2);
}

/* tree */

#writing-intro-prolog .node circle, #writing-intro-prolog .res circle {
  fill: #fff;
  stroke: #4385BE;
  stroke-width: 3px;
}

#writing-intro-prolog .node.success circle {
  stroke: #879A39;
}

#writing-intro-prolog .node.fail circle {
  stroke: #D14D41;
}

#writing-intro-prolog .node text { 
  font-size: 0.7em;
}
#writing-intro-prolog .res text { 
  font-size: 0.7em;
}

#writing-intro-prolog .node { cursor: pointer; }

#writing-intro-prolog .link, #writing-intro-prolog .linkBranch, #writing-intro-prolog .linkRes {
  fill: none;
  stroke: #E6E4D9;
  stroke-width: 2px;
}